.card {
    margin-bottom: 0;
}
.card .photo {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}
.card .name {
    padding-bottom: 10px;
    font-size: 1.5em;
}
.card .data {
    max-width: 200px;
}
.card .values {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
