.card .photo {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}
.card .name {
    padding-bottom: 10px;
    font-size: 1.5em;
}
.card .actions {
    font-size: large;
}
.card .actions i {
    padding: 0 7px;
    cursor: pointer;
}