body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
body * {
	box-sizing: border-box;
	user-select: none;
    transition: background-color 0.2s,
                font 0.2s;
}


[page]:not(.active) {
	display: none !important;
    position: relative;
}
[page].active {
	height: 100vh;
    width: 100vw;
}
[page][header]:before {
    content: attr(header);
    display: block;
    padding: 20px 0;
    font-size: 2.5em;
    text-align: center;
}


[panel] {
    padding: 20px 10px;
}
[panel][header],
[section][header] {
    padding-top: 0;
}
[panel][header]:before {
    content: attr(header);
    display: block;
    margin: 0 -10px;
    padding: 10px 0;
    font-size: 2em;
    text-align: center;
}


[section] {
    position: relative;
    padding: 10px;
}
[section]:not(:last-child) {
    margin-bottom: 10px;
}
[section][header]:before {
    content: attr(header);
    display: block;
    margin: 0 -10px;
    padding: 5px 0;
    font-size: 1.5em;
    text-align: center;
}
[section] [label]:before {
    text-shadow: 0 0 0 #000;
}
[section]>*:first-child:not([label]) {
    margin-top: 0px;
}



[field], [btn], .field, .btn {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;
    font-family: inherit !important;
    font-size: inherit;
    color: #222;
}
[big] [field], [big] [btn], .big .field, .big .btn,
[big][field], [big][btn], .big.field , .big.btn {
    height: 50px;
    border-radius: 4px;
    font-size: 1.2em;
}
[btn], .btn {
	cursor: pointer;
}
[panel] [field], [panel] [btn],
[panel] .field, [panel] .btn 
[section] [field], [section] [btn],
[section] .field, [section] .btn {
    margin-top: 25px;
}


[label] {
    margin-top: 25px;
    vertical-align: bottom;
}
[label]>input,
[label]>select,
[label]>textarea {
    margin-top: 0 !important;
}
[label]:before {
    content: attr(label);
    position: absolute;
    height: 20px;
    margin-top: -20px;
    margin-left: 4px;
    font-size: 1.2em;
    color: #eee;
}
[label][field]:before {
    margin-top: -25px;
    margin-left: -7px;
}
[label][field][big]:before {
    margin-left: 0;
}
/*
[label][rasti=buttons]:before, [label][rasti=radios]:before {
    margin-top: -20px;
    margin-left: 5px;
}
*/


[select] select {
	display: none;
}
[select] {
    cursor: pointer;
    border-radius: 4px;
}
[select]:hover [options] {
    display: block;
}
[select] [options] {
	display: none;
	position: absolute;
	margin-top: 42px;
	margin-left: -4px;
	border: 4px solid #b9b9b9;
    border-radius: 4px;
}
[select] [options] div:hover {
    border: 4px solid #fff;
}
[select] [options] div.selected {
    border: 2px solid #0f97bd;
}
[select] [caret] {
	float: right;
	margin-top: 15px;
	margin-right: 5px;
	font-size: small;
}
[select][img] {
    padding: 0;
}


[rasti=multi] {
    position: relative;
    min-height: 35px;
    padding-right: 20px;
    text-shadow: 0 0 0 #000;
}
[rasti=multi] [add] {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.2);
}
[rasti=multi] [add]:before {
    content: '〉';
    font-size: x-large;
    padding-left: 5px;
}
[rasti=multi].open [add] {
    box-shadow: inset 0 0 2px #000;
}
[rasti=multi].full [add] {
    display: none;
}
[rasti=multi] option {
    padding: 2px 0;
    cursor: pointer;
}
[rasti=multi] option:before {
    content: '✕';
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
}
[rasti=multi] [selected] {
    max-height: 100px;
    overflow-y: auto;
}
[rasti=multi] [selected]>option:hover:before {
    color: #d90000;
    background-color: rgba(255, 0, 0, 0.5);
}
[rasti=multi][options] {
    display: none;
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid;
    z-index: 10;
    overflow-y: auto;
}
[rasti=multi][options]>option:before {
    transform: rotate(45deg);
}
[rasti=multi][options]>option:hover:before {
    color: #008000;
    background-color: rgba(0, 128, 0, 0.5);
}


[rasti=buttons]>div {
    display: inline-block;
    margin: 5px !important;
    padding: 5px 10px;
    border-radius: 6px;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

[rasti=radios]>div,
[rasti=checks]>div {
    height: 24px;
    padding-top: 5px
}


select[field] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 25px;
    background-image: url(../img/caret.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}


textarea[field] {
    height: 70px;
    resize: none;
}


input[type=radio], input[type=radio] +label,
input[type=checkbox], input[type=checkbox] +label {
    vertical-align: text-top;
    cursor: pointer;
}


.row, [row] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row>div, [row]>div { flex-basis: 100% }
.row>.col-1, [row]>[col-1] { flex-basis: 8.33% }
.row>.col-2, [row]>[col-2] { flex-basis: 16.66% }
.row>.col-3, [row]>[col-3] { flex-basis: 25% }
.row>.col-4, [row]>[col-4] { flex-basis: 33.33% }
.row>.col-5, [row]>[col-5] { flex-basis: 41.66% }
.row>.col-6, [row]>[col-6] { flex-basis: 50%; }
.row>.col-7, [row]>[col-7] { flex-basis: 58.33% }
.row>.col-8, [row]>[col-8] { flex-basis: 66.66% }
.row>.col-9, [row]>[col-9] { flex-basis: 75% }
.row>.col-10, [row]>[col-10] { flex-basis: 83.33% }
.row>.col-11, [row]>[col-11] { flex-basis: 91.66% }
/*
.row [class*=col]:not(:first-child),
[row] [col-1]:not(:first-child),
[row] [col-2]:not(:first-child),
[row] [col-3]:not(:first-child),
[row] [col-4]:not(:first-child),
[row] [col-5]:not(:first-child),
[row] [col-6]:not(:first-child),
[row] [col-7]:not(:first-child),
[row] [col-8]:not(:first-child),
[row] [col-9]:not(:first-child),
[row] [col-10]:not(:first-child),
[row] [col-11]:not(:first-child) { margin-left: 10px; }
*/

/* utils */

[ib], .ib, [ibchilds]>*, .ibchilds>* {
    display: inline-block !important;
    width: auto;
    vertical-align: bottom;
}

[center], .center {
    margin: auto !important;
}

[float][center], .float.center {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
}

[fullw], .fullw {
    display: block !important;
    width: 100% !important;
}

[fullh], .fullh {
    display: block !important;
    height: 100% !important;
}

[autow], .autow {
    display: block !important;
    width: auto !important;
}

[autoh], .autoh {
    display: block !important;
    height: auto !important;
}

[scrollx], .scrollx {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

[scrolly], .scrolly {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

[scroll], .scroll {
    overflow: auto !important;
}


/* fx */

[fx=stack]>* {
    opacity: 0;
    margin-top: 100px;
    transition: opacity 0.5s ease,
                margin-top 0.5s ease;
}
