/* card styles */

.card {
    padding: 0 !important;
    margin-bottom: 0;
    cursor: pointer;
}
.card .photo img {
    width: 100%;
    border-radius: 4px 0 0 4px;
}
.card .data {
    padding: 10px 0;
}
.card .name {
    padding-bottom: 10px;
    font-size: 1.5em;
}
.card .labels {
    max-width: 50px;
}
.card .values {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.card.modal {
    justify-content: center;
    padding: 20px;
}
.card.modal .photo {
    position: static;
    margin-bottom: 20px;
}
.card.modal .photo,
.card.modal .data {
    flex-basis: 100%;
    max-width: 320px;
}
.card.modal .photo img {
    border-radius: 4px;
}

/* phone-specific styles */

@media only screen and (max-width: 500px) {

    [btn=config] {
        bottom: 0;
    }

    .card .photo {
        position: absolute;
        top: 10px; right: 10px;
        width: 75px;
    }

}

/* rasti styles overrides (try uncommenting this!) */
/*

[header]:before, [btn] {
    text-transform: capitalize !important;
}

[label]:before {
    text-transform: uppercase !important;
}

*/