/*******************************************************************************
********************************* ELEMENTS *************************************
*******************************************************************************/

body {
    margin: 0;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h1, h2, h3 { margin-top: 0; }

p.big { font-size: 1.5em; }

input, select, textarea {
    min-height: 35px;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: inherit;
    vertical-align: text-bottom;
}
input:focus:invalid {
    box-shadow: 0 0 0 2px red;
}
input:focus:valid {
    box-shadow: 0 0 0 2px green;
}
input, select, textarea, button, .field {
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    font-family: inherit !important;
}
input[type=range], select, button {
    cursor: pointer;
}

button {
    display: inline-block;
    height: 50px;
    width: auto;
    min-width: 50px;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
button:not(:disabled):hover {
    filter: contrast(1.5);
}
button:disabled {
    filter: contrast(0.5);
    cursor: auto;
}
button[icon] {
    position: relative;
    padding-left: 50px;
}
button[icon]:empty {
    padding-right: 0;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
option {
    cursor: pointer;
}

textarea {
    height: 70px;
    resize: none;
}

input.big, button.big,
.big_ > input, .big_ > button {
    min-height: 70px;
    margin-bottom: 25px;
    font-size: 1.5em;
}

input.small, button.small,
.small_ > input, .small_ > button {
    height: 25px;
    margin-bottom: 15px;
    font-size: 1em;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}
input[type=radio] + label,
input[type=checkbox] + label {
    display: block;
    height: 40px;
    max-width: 90%;
    padding: 12px 0;
    margin-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
input[type=radio] + label:before,
input[type=checkbox] + label:before {
    content: '\\2713';
    position: absolute;
    height: 32px;
    width: 32px;
    margin-top: -8px;
    margin-left: -36px;
    border: 1px solid #999;
    color: transparent;
    background-color: #fff;
    font-size: 2.3em;
    line-height: 1;
    text-align: center;
}
input[type=radio] + label:before {
    content: '\\25cf';
    border-radius: 50%;
    line-height: 0.8;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    color: #222;
    animation: stamp 0.4s ease-out;
}
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
    font-weight: 600;
}



/*******************************************************************************
********************************* ATTRIBUTES ***********************************
*******************************************************************************/

[page], [panel], [section] {
    position: relative;
    overflow: hidden;    
}

[page] {
    min-height: 100vh;
    width: 100vw !important;
    padding-bottom: 10px;
    margin-bottom: -5px;
    overflow-y: auto;
}
[page]:not(.active) {
	display: none !important;
}
nav ~ [page]:not(.hide-nav) {
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
}
.fullh[page] {
    height: 100vh;
}


[panel] {
    padding: 25px;
    border-radius: 4px;
}


[section] {
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 4px;
}
[section] [label]:before {
    text-shadow: 0 0 0 #000;
}
[section]>*:first-child:not([label]) {
    margin-top: 0px;
}


[panel] input, [panel] button, [panel] [label],
[section] input, [section] button, [section] [label] {
    margin-bottom: 15px;
}


[header][panel] {
    padding-top: 75px;
}
[header][section] {
    padding-top: 65px;
}
[header][page]:before,
[header][panel]:before,
[header][section]:before,
[footer][page]:after {
    content: attr(header);
    display: block;
    height: 70px;
    width: 100%;
    padding: 20px;
    line-height: 30px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}
[header][page]:before {
    margin-bottom: 15px;
}
[header][panel]:before,
[header][section]:before {
    position: absolute;
    top: 0; left: 0;
}
[header][panel]:before {
    height: 50px;
    padding: 10px 20px;
    line-height: 30px;
    font-size: 2em;
}
[header][section]:before {
    height: 40px;
    padding: 10px;
    line-height: 20px;
    font-size: 1.5em;
}
[header].collapse:before {
    cursor: pointer;
}

[footer][page]:after {
    content: attr(footer);
}

[page][header][fix-header]:before {
    position: fixed;
    top: 0;
}
[page][footer][fix-footer]:after {
    position: fixed;
    bottom: 0;
}


[img] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
}


[template] {
    visibility: hidden;
    position: relative;
}
[template].rendered {
    visibility: visible;
}
[template] > .results {
    max-height: calc(100% - 40px);
    margin: 0 -15px;
    padding: 0 15px;
}
[template][stats] > .results {
    max-height: calc(100% - 95px);
}
[template] > .controls {
    height: 60px;
    padding: 5px;
    color: #fff;
    text-align: center;
}
[template] > .controls * {
    vertical-align: middle;
}
[template] > .stats {
    height: 40px;
    padding: 10px;
    font-size: 1.1em;
}


[crud] > * {
    position: relative;
}
.rasti-crud-create {
    display: block !important;
}
.rasti-crud,
.rasti-crud-input,
.rasti-crud-accept,
.rasti-crud-cancel,
[crud].active .rasti-crud-create {
    display: none !important;
}
[crud].active .rasti-crud-input,
[crud].active .rasti-crud-accept,
[crud].active .rasti-crud-cancel {
    display: inline-block !important;
}
[crud] > .rasti-crud {
    bottom: -40px;
    z-index: 1;
}
[crud]:hover > .rasti-crud,
[crud]>*:hover > .rasti-crud {
    display: block !important;
}


[h-flow] {
    display: inline-block !important;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
[h-flow] > * {
    display: inline-block;
    white-space: normal;
    height: 100%;
    min-width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto;
    vertical-align: top;
}
.tab-labels + [h-flow] {
    height: calc(100vh - 50px);
}
nav ~ [page] > .tab-labels + [h-flow] {
    height: calc(100vh - 100px);
}

nav, .tab-labels {
    display: flex;
    position: relative;
    white-space: nowrap;
    min-width: 100vw;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    text-transform: uppercase;
}
nav {
    z-index: 8;
}
.tab-labels {
    justify-content: space-around;
    z-index: 2;
}
.tab-labels > .bar {
    position: absolute;
    bottom: 0; left: 0;
    height: 4px;
    transition: left 0.2s, width 0.2s;
}
nav > div, nav > a,
[tab-label] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    min-width: 50px;
    padding: 5px;
    font-size: 1.4em;
    text-shadow: 0 0 0 #000;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
nav > div, nav > a {
    max-width: 200px;
    transition: all 0.2s;
}
nav > div:hover, nav > a:hover {
    letter-spacing: 4px;
}
nav > .active {
    border-bottom: 5px solid #222;
}
[tab-label].active {
    filter: contrast(1.5);
}


[modal], .modal {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto !important;
    height: auto;
    width: auto;
    max-height: 600px;
    max-width: 400px;
    overflow-y: auto;
    animation: zoomIn .4s, fadeIn .4s;
    z-index: 10;
}
[modal].big, .modal.big {
    max-height: 800px;
    max-width: 600px;
}
[modal].small, .modal.small {
    max-height: 400px;
    max-width: 200px;
}
[modal] > [icon=close],
.modal > [icon=close] {
    cursor: pointer;
}


[menu] {
    display: none;
    position: fixed;
    background-color: inherit;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
    z-index: 7;
    cursor: pointer;
}


[label] {
    position: relative;
    margin-top: 35px;
    vertical-align: bottom;
}
[label][fixed]>* {
    margin-bottom: 0;
}
[label]>input,
[label]>select,
[label]>textarea {
    margin-top: 0 !important;
}
[label]:not([panel]):not([section]):before {
    content: attr(label);
    position: absolute;
    height: 35px;
       line-height: 35px;
    font-size: 1.2em;
    text-transform: capitalize;
}
[label]:before {
    margin-top: -35px;
    margin-left: -10px;
}
[label].big:before {
    margin-left: 0;
}
[label][fixed]:before {
    margin-top: -30px;
    margin-left: 0;
}
.inline[label],
.inline_ > [label] {
    width: auto;
    margin-top: 0;
    margin-left: calc(40% + 10px);
}
.inline[label]:before,
.inline_ > [label]:before {
    width: 80%;
    left: -80%;
    margin-top: -5px;
    text-align: right;
}
.inline[label][fixed]:before,
.inline_ > [label][fixed]:before {
    margin-top: 0;
    margin-left: -8px;
}
.below[label]:before,
.below_ > [label]:before {
    bottom: -40px;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
}
.big [label] {
    margin-top: 25px;
    font-size: 1.2em;
}
.big [label]:before {
    margin-top: -27px;
}


[nav],
[show], [hide], [toggle],
[onclick] {
    cursor: pointer;
}


/*******************************************************************************
******************************* 12 COLUMNS ************************************* 
*******************************************************************************/

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 1%;
}
.col {
    /*min-height: min-content !important;*/
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: center;
}
.row > .col-1,  .col > .row-1  { flex-basis: 07.33%; }
.row > .col-2,  .col > .row-2  { flex-basis: 15.66%; }
.row > .col-3,  .col > .row-3  { flex-basis: 24.00%; }
.row > .col-4,  .col > .row-4  { flex-basis: 32.33%; }
.row > .col-5,  .col > .row-5  { flex-basis: 40.66%; }
.row > .col-6,  .col > .row-6  { flex-basis: 49.00%; }
.row > .col-7,  .col > .row-7  { flex-basis: 57.33%; }
.row > .col-8,  .col > .row-8  { flex-basis: 65.66%; }
.row > .col-9,  .col > .row-9  { flex-basis: 74.00%; }
.row > .col-10, .col > .row-10 { flex-basis: 82.33%; }
.row > .col-11, .col > .row-11 { flex-basis: 90.66%; }
.row [class*=col-] {
    margin-left: 0 !important;
    margin-right: 1% !important;
}
.col [class*=row-]{
    margin-top: 0 !important;
    margin-bottom: 1vh !important;
}

.page-options { flex-basis: initial !important; }



/*******************************************************************************
********************************** ICONS *************************************** 
*******************************************************************************/

[icon]:before {
    display: block;
    flex-grow: 0;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    text-decoration: none;
}
button[icon]:before {
    position: absolute;
    top: 0; left: 0;
}
.small[icon]:before, .small_ > [icon]:before  {
    height: 35px;
    width: 35px;
    font-size: 1.1rem;
}
.big[icon]:before, .big_ > [icon]:before {
    height: 70px;
    width: 70px;
    font-size: 2.2rem;
}
.huge[icon]:before, .huge_ > [icon]:before {
    height: 100px;
    width: 100px;
    font-size: 3.2rem;
    line-height: 1.9;
}
.round[icon]:before, .round_ > [icon]:before {
    border-radius: 50%;
}
.floating[icon]:before {
    position: absolute;
    margin-top: -8px;
}
.floating[icon] > input {
    padding-left: 45px;
}


/*******************************************************************************
****************************** VISUAL ENHANCERS ******************************** 
*******************************************************************************/
.list {
    padding: 0;
    border: 1px solid rgba(0,0,0,0.2);
}
.list[header] {
    padding-top: 40px;
}
.list > div {
    height: 7vh;
    padding: 2vh;
    transition: all 0.2s;
}
.list > div:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.list > div.active {
    border-left: 7px solid #222;
}
.list > div:hover {
    letter-spacing: 4px;
}

.msg {
    height: 60%;
    width: 60%;
    padding: 10% 5%;
    font-size: large;
}

button.fab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    z-index: 5;
}

.backdrop:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.7);
    animation: fadeIn .4s;
    z-index: 9;
}

.loading {
    color: transparent !important;
    position: relative;
}
.loading > * {
    visibility: hidden;
}
.loading:after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 25px; height: 25px;
    margin: auto;
    border-radius: 50%;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    animation: spin 1s infinite linear;
    visibility: visible;
}
.big.loading:after {
    position: fixed;
    width: 100px; height: 100px;
    z-index: 10;
}

.loading2 {
    perspective: 120px;
}
.loading2:after {
    content: "";
    position: absolute;
    left: 25px; top: 25px;
    width: 50px; height: 50px;
    background-color: #3498db;
    animation: flip 1s infinite linear;
}



/*******************************************************************************
**************************** FUNCTIONAL ENHANCERS ****************************** 
*******************************************************************************/

.movable {
    user-select: none;
    cursor: move;
}

.resizable {
    resize: both;
    overflow: hidden;
}

.collapsable {
    animation: foldOut 0.5s;
    overflow: hidden; 
}
.collapsable[header].folded {
    animation: foldIn 0.5s;
    height: 0;
    padding-bottom: 0;
    padding-top: 40px;
}



/*******************************************************************************
********************************* ANIMATIONS *********************************** 
*******************************************************************************/
@keyframes stamp {
    50% { transform: scale(1.2); }
}
@keyframes spin {
    0%   { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@keyframes flip {
    0%   { transform: rotate(0); }
    50%  { transform: rotateY(180deg); }
    100% { transform: rotateY(180deg) rotateX(180deg); }
}
@keyframes zoomIn {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}
@keyframes zoomOut {
    0%   { transform: scale(1); }
    100% { transform: scale(0); }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes foldIn {
    0% { 
        height: auto;
        padding-top: 55px;
        padding-bottom: 10px;
    }
    100% { 
        height: 0;
        padding-top: 40px;
        padding-bottom: 0;
    }
}
@keyframes foldOut {
    0% { 
        height: 0;
        padding-top: 40px;
        padding-bottom: 0;
    }
    100% { 
        height: auto;
        padding-top: 55px;
        padding-bottom: 10px;
    }
}



/*******************************************************************************
****************************** UTILITY CLASSES ********************************* 
*******************************************************************************/

[hidden], .hidden {
    display: none !important;
}

.inline, .inline_>* {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.floatl, .floatl_>* {
    float: left;
}
.floatr, .floatr_>* {
    float: right;
}

.rel {
    position: relative;
}

.left, .left_>* {
    position: absolute;
    left: 0;
}
.right, .right_>* {
    position: absolute;
    right: 0;
}
.top, .top_>* {
    position: absolute;
    top: 0;
}
.bottom, .bottom_>* {
    position: absolute;
    bottom: 0;
}

.centerx, .centerx_>* {
    position: absolute;
    left: 0; right: 0;
    margin: auto !important;
}
.centery, .centery_>* {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto !important;
}
.center, .center_>* {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto !important;
}

.fix {
    position: fixed;
}

.ccx, .ccx_>* {
    display: flex;
    justify-content: center;
}
.ccy, .ccy_>* {
    display: flex;
    align-items: center;
}
.cc, .cc_>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollx, .scrollx_>* {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.scrolly, .scrolly_>* {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.scroll, .scroll_>* {
    overflow: auto;
}

.textl, .textl_>* {
    text-align: left;
}
.textr, .textr_>* {
    text-align: right;
}
.textc, .textc_>* {
    text-align: center;
}

.fullw, .fullw_>* {
    width: 100%;
}
.fullh, .fullh_>* {
    height: 100%;
}
.halfw, .halfw_>* {
    width: 50%;
}
.halfh, .halfh_>* {
    height: 50%;
}
.autow, .autow_>* {
    width: auto;
}
.autoh, .autoh_>* {
    height: auto;
}

.autom, .autom_>* {
    margin: auto !important;
}

.columns-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.columns-2 > * {
    width: 49%;
    margin-right: 2%;
}
.columns-2 > *:nth-child(2n){
    margin-right: 0;
}

.columns-3 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.columns-3 > * {
    width: 32%;
    margin-right: 2%;
}
.columns-3 > *:nth-child(3n) {
    margin-right: 0;
}

.pad-s, .pad-s_>* {
    padding-left: 5%;
    padding-right: 5%;
}
.pad, .pad_>* {
    padding-left: 10%;
    padding-right: 10%;
}
.pad-l, .pad-l_>* {
    padding-left: 15%;
    padding-right: 15%;
}

.round, .round_>* {
    border-radius: 50%;
}

.scale, .scale_>* {
    transition: all .2s ease-in-out;
}
.scale:hover, .scale_>*:hover {
    transform: scale(1.1);
}



/*******************************************************************************
************************************* FX *************************************** 
*******************************************************************************/

.fx-stack-container > * {
    transition: margin-top 2s ease; /*FIXME: NOT WORKING*/
    margin-top: 0;
}
.fx-stack-el {
    margin-top: 100px;
}

.fx-stamp-container > * {
    transition: opacity 0.3s;
    animation: stamp 0.3s;
}
.fx-stamp-el {
    opacity: 0;
    animation: none;
}

.flip-container {
    perspective: 1000px;
    position: relative;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
}
.flipper.flip  {
    transform: rotateY(180deg);
}
.flipper .front, .flipper .back {
    backface-visibility: hidden;
    top: 0;
    left: 0;
}
.flipper .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.flipper .back {
    transform: rotateY(180deg);
}



/*******************************************************************************
********************************* SCROLLBARS *********************************** 
*******************************************************************************/

/* webkit */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    border-left: solid transparent 2px;
    border-right: solid transparent 2px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* mozilla (NOT WORKING) */
@-moz-document url-prefix(http://), url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    thumb, scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }
    thumb:hover, scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }
    scrollbarbutton {
        display: none !important;
    }
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}



/*******************************************************************************
****************************** MEDIA QUERIES *********************************** 
*******************************************************************************/

/* desktop only */
@media only screen and (min-width: 800px) {
    .pad-s-desktop {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-desktop {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-desktop {
        padding-left: 15%;
        padding-right: 15%;
    }
}


/* tablet only */
@media only screen and (min-width: 500px) and (max-width: 800px) {

    .hide-tablet {
        display: none;
    }
    .show-tablet {
        display: block;
    }

    [header].hh-tablet:before {
        display: none;
    }
    [header].hh-tablet[page] {
        padding-top: 0;
    }
    [header].hh-tablet[panel] {
        padding-top: 20px;
    }
    [header].hh-tablet[section] {
        padding-top: 15px;
    }
    
    .pad-s-tablet {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-tablet {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-tablet {
        padding-left: 15%;
        padding-right: 15%;
    }

}


/* tablet and phone */
@media only screen and (max-width: 800px) {

    [page][header]:before {
        padding: 10px;
        line-height: 0.8;
    }

}


/* phone only */
@media only screen and (max-width: 500px) {

    [page] {
        padding-bottom: 0;
        overflow-y: auto;
    }

    [template] > .controls > .columns,
    [template] > .controls > .sizes {
        display: none;
    }

    [options] {
        bottom: 0;
        left: 0 !important;
        right: 0;
        height: 80% !important;
        margin: auto;
    }

    .hide-phone {
        display: none;
    }
    .show-phone {
        display: block;
    }

    [header].hh-phone:before {
        display: none;
    }
    [header].hh-phone[page] {
        padding-top: 0;
    }
    [header].hh-phone[panel] {
        padding-top: 20px;
    }
    [header].hh-phone[section] {
        padding-top: 15px;
    }

    .pad-s-phone {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-phone {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-phone {
        padding-left: 15%;
        padding-right: 15%;
    }
    


}

