/*******************************************************************************
********************************* ELEMENTS *************************************
*******************************************************************************/

body {
    margin: 0;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h1, h2, h3 { margin-top: 0; }

p.big { font-size: 1.5em; }

ol, ul {
    padding: 5px 10px 5px 30px;
    border-radius: 2px;
}
li:not(:last-child) {
    margin-bottom: 5px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border: 1px solid #0003;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid #0003;
    padding: 4px 5px;
}
table thead {
    background: #ddd;
    border-bottom: 3px solid #0003;
}
table thead th {
    font-weight: bold;
    text-align: center;
}
table tfoot {
    font-size: 14px;
    font-weight: bold;
    border-top: 3px solid #0003;
}
table tfoot td {
font-size: 14px;
}

input, button, select, textarea, .field {
    min-height: 35px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 0 15px 0;
    border: 0;
    border-radius: 4px;
    outline: none;
    font-family: inherit !important;
    font-size: inherit;
    vertical-align: text-bottom;
}

meter, progress {
    width: 100%;
    margin: 0 0 15px 0;
    border-radius: 2px;
}

input[type=text]:focus:invalid,
input[type=password]:focus:invalid,
input[type=email]:focus:invalid,
input[type=tel]:focus:invalid {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: -4px 0 0 0 red;
}
input[type=text]:focus:valid,
input[type=password]:focus:valid,
input[type=email]:focus:valid,
input[type=tel]:focus:valid {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: -4px 0 0 0 green;
}

input[type=range], select, button {
    cursor: pointer;
}

button {
    display: inline-block;
    height: 50px;
    width: auto;
    min-width: 50px;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
button:not(:disabled):hover {
    filter: contrast(1.5);
}
button:disabled {
    filter: contrast(0.5);
    cursor: auto;
}
button[icon] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
option {
    cursor: pointer;
}

textarea {
    height: 70px;
    resize: none;
}

input.big, button.big,
.big_ > input, .big_ > button {
    min-height: 70px;
    margin-bottom: 25px;
    font-size: 1.5em;
}

input.small, button.small,
.small_ > input, .small_ > button {
    min-height: 25px;
    max-height: 25px;
    font-size: 1em;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}
input[type=radio] + label,
input[type=checkbox] + label {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 90%;
    margin-left: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
input[type=radio] + label:before,
input[type=checkbox] + label:before {
    content: '⨯';
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left: -30px;
    color: transparent;
    font-size: 2em;
    line-height: 0.6;
    text-align: center;
}
input[type=radio] + label:before {
    content: '';
    border-radius: 50%;
}
input[type=checkbox]:checked + label:before {
    color: #222;
}
input[type=radio]:checked + label:after {
    /* content: ''; */
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    margin-left: -33px;
    background-color: #000;
    border-radius: 50%;
}
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
    font-weight: 600;
}



/*******************************************************************************
********************************* ATTRIBUTES ***********************************
*******************************************************************************/

[page], [panel], [section] {
    position: relative;
    overflow: hidden;    
}

[page] {
    min-height: 100vh;
    width: 100vw !important;
    padding-bottom: 10px;
    margin-bottom: -5px;
    overflow-y: auto;
}
[page]:not(.active) {
	display: none !important;
}
nav ~ [page]:not(.hide-nav) {
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
}
.fullh[page] {
    height: 100vh;
}


[panel] {
    padding: 25px;
    border-radius: 2px;
}


[section] {
    padding: 20px;
    border-radius: 2px;
}
[section] [label]:before {
    text-shadow: 0 0 0 #000;
}
[section]>*:first-child:not([label]) {
    margin-top: 0px;
}
[section]:not(:last-child) {
    margin-bottom: 15px;
}

[header],
[foldable] {
    position: relative;
}
[foldable] {
    padding-top: 30px;
}
[header]:not([page]) {
    padding-top: 45px;
}
[header][panel],
[foldable][panel] {
    padding-top: 65px;
}
[header][page]:before,
[header][panel]:before,
[header][section]:before,
[footer][page]:after,
[foldable]:before {
    content: attr(header);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}
[header][page]:before {
    height: 50px;
    margin-bottom: 15px;
    font-size: 1.8em;
    line-height: 30px;
}
[header]:not([page]):before,
[foldable]:not([page]):before {
    position: absolute;
    top: 0; left: 0;
}
[header][panel]:before {
    height: 40px;
    padding: 10px;
    font-size: 1.5em;
    line-height: 20px;
}
[header]:before,
[foldable]:before {
    height: 30px;
    padding: 10px;
    font-size: 1.2em;
    line-height: 20px;
}

[foldable]:before {
    content: attr(foldable);
}

[footer][page]:after {
    content: attr(footer);
}

[page][header][fix-header]:before {
    position: fixed;
    top: 0;
}
[page][footer][fix-footer]:after {
    position: fixed;
    bottom: 0;
}


[img] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
}


[template] {
    position: relative;
    visibility: hidden;
}
[template].rendered {
    visibility: visible;
}
[template] > .results {
    max-height: calc(100% - 60px);
    margin: 0 -15px;
    padding: 0 15px;
}
[template][stats] > .results {
    max-height: calc(100% - 95px);
}
[template] > .controls {
    height: 60px;
    padding: 10px;
    color: #fff;
}
[template] > .controls * {
    margin: 0 2px;
}
[template] > .stats {
    height: 40px;
    padding: 10px;
    font-size: 1.1em;
}

[paged] {
    padding-bottom: 0 !important;
}

[crud] > * {
    position: relative;
}
.rasti-crud-create {
    display: block !important;
}
.rasti-crud,
.rasti-crud-input,
.rasti-crud-accept,
.rasti-crud-cancel,
[crud].active .rasti-crud-create {
    display: none !important;
}
[crud].active .rasti-crud-input,
[crud].active .rasti-crud-accept,
[crud].active .rasti-crud-cancel {
    display: inline-block !important;
}
[crud] > .rasti-crud {
    bottom: -40px;
    z-index: 1;
}
[crud]:hover > .rasti-crud,
[crud]>*:hover > .rasti-crud {
    display: block !important;
}


[h-flow] {
    display: inline-block !important;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
[h-flow] > * {
    display: inline-block;
    white-space: normal;
    height: 100%;
    min-width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto;
    vertical-align: top;
}
.tab-labels + [h-flow] {
    height: calc(100vh - 50px);
}
nav ~ [page] > .tab-labels + [h-flow] {
    height: calc(100vh - 100px);
}

nav, .tab-labels {
    display: flex;
    position: relative;
    white-space: nowrap;
    min-width: 100vw;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    text-transform: uppercase;
}
nav {
    z-index: 8;
}
.tab-labels {
    justify-content: space-around;
    z-index: 2;
}
.tab-labels > .bar {
    position: absolute;
    bottom: 0; left: 0;
    height: 4px;
    transition: left 0.2s, width 0.2s;
}
nav > div, nav > a,
[tab-label] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    min-width: 50px;
    padding: 5px;
    font-size: 1.4em;
    text-shadow: 0 0 0 #000;
    text-decoration: none;
    border-right: 1px solid #0003;
    color: inherit;
    cursor: pointer;
}
nav > div, nav > a {
    transition: all 0.2s;
}
[tab-label].active {
    filter: contrast(1.5);
}


[sidemenu].enabled {
    position: absolute;
    top: 0;
    left: -80vw;
    min-width: 80vw !important;
    max-width: 80vw;
    z-index: 10;
}
[sidemenu].enabled.open {
    left: 0;
    animation: slide-in .4s;
}
[sidemenu].enabled.close {
    animation: slide-out .4s;
}


[modal], .modal {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto !important;
    height: auto;
    width: auto;
    max-height: 600px;
    max-width: 400px;
    overflow-y: auto;
    animation: zoomIn .4s, fadeIn .4s;
    z-index: 10;
}
[modal].big, .modal.big {
    max-height: 800px;
    max-width: 600px;
}
[modal].small, .modal.small {
    max-height: 400px;
    max-width: 200px;
}
[modal] > [icon=close],
.modal > [icon=close] {
    cursor: pointer;
}


[menu] {
    display: none;
    position: fixed;
    background-color: inherit;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
    z-index: 10;
    cursor: pointer;
}
[menu] > div {
    padding: 10px;
    margin-bottom: 0;
    text-transform: capitalize;
}
[menu] > div:not(:last-child) {
    border-bottom: 1px solid #0003;
}


[label] {
    position: relative;
    margin-top: 35px;
    margin-bottom: 15px;
    vertical-align: bottom;
}
[label][fixed]>* {
    margin-bottom: 0;
}
[label]>input,
[label]>select,
[label]>textarea {
    margin-top: 0 !important;
}
[label]:not([panel]):not([section]):before {
    content: attr(label);
    position: absolute;
    height: 35px;
    line-height: 35px;
    font-size: 1.2em;
    text-transform: capitalize;
}
[label]:before {
    top: 0;
    left: 0;
    margin-top: -35px;
}
[label].big:before {
    margin-left: 0;
}
[label][fixed]:before {
    margin-top: -30px;
    margin-left: 0;
}
.inline-label[label],
.inline-label_ > [label] {
    width: auto;
    margin-top: 0;
    padding-left: calc(40% + 10px);
}
.inline-label[label]:before,
.inline-label_ > [label]:before {
    top: auto;
    width: 80%;
    left: -40%;
    margin-top: 0;
    text-align: right;
}
.inline-label[label][fixed]:before,
.inline-label_ > [label][fixed]:before {
    margin-top: 0;
    margin-left: -8px;
}
.below-label[label]:before,
.below-label_ > [label]:before {
    bottom: -40px;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
}
.big [label] {
    margin-top: 25px;
    font-size: 1.2em;
}
.big [label]:before {
    margin-top: -27px;
}


[show], [hide], [toggle],
[onclick],
.clickable {
    cursor: pointer;
}



/*******************************************************************************
**************************** FUNCTIONAL ENHANCERS ****************************** 
*******************************************************************************/

[movable] {
    user-select: none;
    cursor: move;
}

[resizable] {
    resize: both;
    overflow: hidden;
}

[foldable] {
    animation: foldOut 0.5s;
    overflow: hidden; 
}
[foldable].folded {
    animation: foldIn 0.5s;
    height: 30px !important;
    padding-bottom: 0;
    padding-top: 30px;
    overflow: hidden;
}
[foldable]:before {
    cursor: pointer;
}


/*******************************************************************************
******************************* 12 COLUMNS ************************************* 
*******************************************************************************/

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 1%;
}
.col {
    /*min-height: min-content !important;*/
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: center;
}
.row > .col-1,  .col > .row-1  { flex-basis: 07.33%; }
.row > .col-2,  .col > .row-2  { flex-basis: 15.66%; }
.row > .col-3,  .col > .row-3  { flex-basis: 24.00%; }
.row > .col-4,  .col > .row-4  { flex-basis: 32.33%; }
.row > .col-5,  .col > .row-5  { flex-basis: 40.66%; }
.row > .col-6,  .col > .row-6  { flex-basis: 49.00%; }
.row > .col-7,  .col > .row-7  { flex-basis: 57.33%; }
.row > .col-8,  .col > .row-8  { flex-basis: 65.66%; }
.row > .col-9,  .col > .row-9  { flex-basis: 74.00%; }
.row > .col-10, .col > .row-10 { flex-basis: 82.33%; }
.row > .col-11, .col > .row-11 { flex-basis: 90.66%; }
.row [class*=col-] {
    margin-left: 0 !important;
}
.row [class*=col-]:not(:last-child) {
    margin-right: 1% !important;
}
.col [class*=row-]{
    margin-top: 0 !important;
    margin-bottom: 1vh !important;
}

.page-options { flex-basis: initial !important; }



/*******************************************************************************
********************************** ICONS *************************************** 
*******************************************************************************/

[icon] {
    min-height: 50px;
}
[icon]:empty {
    padding: 0;
}
[icon]:before {
    display: inline-block;
    flex-grow: 0;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    text-decoration: none;
}
.small[icon], .small_ > [icon] {
    min-height: 35px;
}
.small[icon]:before, .small_ > [icon]:before {
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
    line-height: 1.7;
}
.big[icon]:before, .big_ > [icon]:before {
    height: 70px;
    width: 70px;
    font-size: 2.2rem;
    line-height: 1.9;
}
.huge[icon]:before, .huge_ > [icon]:before {
    height: 100px;
    width: 100px;
    font-size: 3.2rem;
    line-height: 1.9;
}
.round[icon]:before, .round_ > [icon]:before {
    border-radius: 50%;
}

/* input element icon fix */
.floating[icon] {
    position: relative;
    padding-left: 0;
}
.floating[icon]:before {
    position: absolute;
    top: 0;
    left: 4px;
    height: 35px;
    width: 35px;
    font-size: 1.1rem;
}
.floating[icon] > input {
    padding-left: 45px;
}

/* specific icon fixes */
[icon=remove]:before {
    line-height: 0.6 !important;
    font-weight: 600;
}
[icon=close]:before,
[icon=network]:before {
    line-height: 1 !important;
}
[icon=diamonds]:before {
    line-height: 1.1 !important;
}
[icon=restore]:before,
[icon=pommee]:before {
    line-height: 1.2 !important;
}
[icon=reload]:before,
[icon=stereo]:before,
[icon=img-file]:before,
[icon=latin2]:before,
[icon=celtic]:before,
[icon=ankh]:before,
[icon=comunism]:before,
[icon^=hg-]:before {
    line-height: 1.3 !important;
}
[icon=sync]:before {
    line-height: 1.3 !important;
    transform: rotate(90deg);
}
[icon=error]:before {
    line-height: 1.35 !important;
    font-weight: 600;
}
[icon=copy]:before {
    line-height: 1.5 !important;
    font-weight: 600;
    font-size: 1.7rem;
}
[icon=health]:before {
    line-height: 1.5 !important;
}
[icon=warning]:before {
    line-height: 1.6 !important;
}
[icon=minimize]:before,
[icon=maximize]:before {
    line-height: 1.7 !important;
}
[icon=undo]:before,
[icon=play]:before {
    line-height: 1.7 !important;
    transform: rotate(90deg);
}
[icon=redo]:before {
    line-height: 1.7 !important;
    transform: rotate(-90deg);
}
[icon=shift]:before,
[icon=caps-lock]:before,
[icon=return]:before {
    font-family: auto;
    font-weight: 600;
}
[icon=desktop]:before,
[icon=printer]:before,
[icon=studio-mic]:before,
[icon=candle]:before,
[icon=stopwatch]:before {
    font-weight: 600;
}
[icon=tab]:before {
    font-family: auto;
}
[icon=pinch]:before {
    transform: rotate(90deg);
}



/*******************************************************************************
****************************** VISUAL ENHANCERS ******************************** 
*******************************************************************************/
.list {
    border: 1px solid rgba(0,0,0,0.2);
}
.list[header] {
    padding-top: 40px;
}
.list > div {
    height: 7vh;
    padding: 2vh;
    transition: all 0.2s;
}
.list > div {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.list > div:first-child {
    border-top: 1px solid rgba(0,0,0,0.2);
}
.list > div.active {
    border-left: 7px solid #222;
}
.list > div:hover {
    text-shadow: 0px 0px 1px black;;
}

.nodata {
    padding: 10% 5%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

button.fab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    z-index: 5;
}

.backdrop:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.7);
    animation: fadeIn .4s;
    z-index: 9;
}

.loading {
    color: transparent !important;
    position: relative;
}
.loading > * {
    visibility: hidden;
}
.loading:after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 25px; height: 25px;
    margin: auto;
    border-radius: 50%;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    animation: spin 1s infinite linear;
    visibility: visible;
}
.big.loading:after {
    position: fixed;
    width: 100px; height: 100px;
    z-index: 10;
}

.loading2 {
    perspective: 120px;
}
.loading2:after {
    content: "";
    position: absolute;
    left: 25px; top: 25px;
    width: 50px; height: 50px;
    background-color: #3498db;
    animation: flip 1s infinite linear;
}


/*******************************************************************************
********************************* ANIMATIONS *********************************** 
*******************************************************************************/
@keyframes stamp {
    50% { transform: scale(1.2); }
}
@keyframes spin {
    0%   { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@keyframes flip {
    0%   { transform: rotate(0); }
    50%  { transform: rotateY(180deg); }
    100% { transform: rotateY(180deg) rotateX(180deg); }
}
@keyframes zoomIn {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}
@keyframes zoomOut {
    0%   { transform: scale(1); }
    100% { transform: scale(0); }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes slide-in {
    0%   {left: -100vw;}
    100% {left: 0;}
}
@keyframes slide-out {
    0%   {left: 0;}
    100% {left: -100vw;}
}
@keyframes foldIn {
    0% { 
        height: auto;
        padding-top: 55px;
        padding-bottom: 10px;
    }
    100% { 
        height: 0;
        padding-top: 40px;
        padding-bottom: 0;
    }
}
@keyframes foldOut {
    0% { 
        height: 0;
        padding-top: 40px;
        padding-bottom: 0;
    }
    100% { 
        height: auto;
        padding-top: 55px;
        padding-bottom: 10px;
    }
}



/*******************************************************************************
****************************** UTILITY CLASSES ********************************* 
*******************************************************************************/

[hidden], .hidden {
    position: absolute;
    visibility: hidden;
}

.rel, .rel_>* {
    position: relative;
}

.fix, .fix_>* {
    position: fixed;
}

.inline, .inline_>* {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.floatl, .floatl_>* {
    float: left;
}
.floatr, .floatr_>* {
    float: right;
}

.left, .left_>* {
    position: absolute;
    left: 0;
}
.right, .right_>* {
    position: absolute;
    right: 0;
}
.top, .top_>* {
    position: absolute;
    top: 0;
}
.bottom, .bottom_>* {
    position: absolute;
    bottom: 0;
}

.centerx, .centerx_>* {
    position: absolute;
    left: 0; right: 0;
    margin: auto !important;
}
.centery, .centery_>* {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto !important;
}
.center, .center_>* {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto !important;
}

.fcenterx, .fcenterx_>* {
    display: flex;
    justify-content: center;
}
.fcentery, .fcentery_>* {
    display: flex;
    align-items: center;
}
.fcenter, .fcenter_>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollx, .scrollx_>* {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.scrolly, .scrolly_>* {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.scroll, .scroll_>* {
    overflow: auto;
}

.textl, .textl_>* {
    text-align: left;
}
.textr, .textr_>* {
    text-align: right;
}
.textc, .textc_>* {
    text-align: center;
}

.fullw, .fullw_>* {
    width: 100%;
}
.fullh, .fullh_>* {
    height: 100%;
}
.halfw, .halfw_>* {
    width: 50%;
}
.halfh, .halfh_>* {
    height: 50%;
}
.autow, .autow_>* {
    width: auto;
}
.autoh, .autoh_>* {
    height: auto;
}

.autom, .autom_>* {
    margin: auto !important;
}
.m0 {
    margin: 0 !important;
}

.pad-s, .pad-s_>* {
    padding-left: 5%;
    padding-right: 5%;
}
.pad, .pad_>* {
    padding-left: 10%;
    padding-right: 10%;
}
.pad-l, .pad-l_>* {
    padding-left: 15%;
    padding-right: 15%;
}
.p0 {
    padding: 0 !important;
}

.round, .round_>* {
    border-radius: 50%;
}

.columns-2, .columns-3 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.columns-2 > * {
    width: 49%;
    margin-right: 2%;
}
.columns-3 > * {
    width: 32%;
    margin-right: 2%;
}
.columns-2 > *:nth-child(2n),
.columns-3 > *:nth-child(3n) {
    margin-right: 0;
}

.nowrap {
    flex-wrap: nowrap;
}

.scale-up, .scale-up_>* {
    transition: all .2s ease-in-out;
}
.scale-up:hover, .scale-up_>*:hover {
    transform: scale(1.1);
}



/*******************************************************************************
************************************* FX *************************************** 
*******************************************************************************/

[fx=toast] {
    position: fixed;
    display: flex;
    left: 0; right: 0;
    bottom: -100px;
    width: 100vw;
    max-width: 600px;
    min-height: 90px;
    max-height: 90px;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    transition: bottom ease-out 0.25s;
}
[fx=toast].active {
    bottom: 0;
}
[fx=toast] [icon]::before {
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.6;
    box-shadow: 0 0 0px 1px;
}
[fx=toast] [icon=warning]::before {
    background: yellow;
    line-height: 1.4;
}
[fx=toast] [icon=error]::before {
    background: red;
    line-height: 1.4;
}
[fx=toast] [icon=accept]::before {
    background: green;
}

.fx-stack-container > * {
    transition: margin-top 2s ease; /*FIXME: NOT WORKING*/
    margin-top: 0;
}
.fx-stack-el {
    margin-top: 100px;
}

.fx-stamp-container > * {
    transition: opacity 0.3s;
    animation: stamp 0.3s;
}
.fx-stamp-el {
    opacity: 0;
    animation: none;
}

.flip-container {
    perspective: 1000px;
    position: relative;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
}
.flipper.flip  {
    transform: rotateY(180deg);
}
.flipper .front, .flipper .back {
    backface-visibility: hidden;
    top: 0;
    left: 0;
}
.flipper .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.flipper .back {
    transform: rotateY(180deg);
}



/*******************************************************************************
****************************** BROWSER OVERRIDES *******************************
*******************************************************************************/

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    border-left: solid transparent 2px;
    border-right: solid transparent 2px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* mozilla (NOT WORKING) */
@-moz-document url-prefix(http://), url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    thumb, scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }
    thumb:hover, scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }
    scrollbarbutton {
        display: none !important;
    }
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid #000;
    margin-top: -5px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: green;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    
}

input[type=range]::-ms-thumb {
    
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}


/*******************************************************************************
****************************** MEDIA QUERIES *********************************** 
*******************************************************************************/

/* desktop only */
@media only screen and (min-width: 800px) {

    .pad-s-desktop {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-desktop {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-desktop {
        padding-left: 15%;
        padding-right: 15%;
    }
    .p0-desktop {
        padding: 0;
    }

}


/* tablet only */
@media only screen and (min-width: 500px) and (max-width: 800px) {

    .pad-s-tablet {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-tablet {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-tablet {
        padding-left: 15%;
        padding-right: 15%;
    }
    .p0-tablet {
        padding: 0;
    }

}


/* tablet and phone */
@media only screen and (max-width: 800px) {

    [page][header]:before {
        line-height: 0.8;
    }

    .hide-tablet {
        display: none;
    }
    .show-tablet {
        position: relative;
        visibility: visible;
    }

    [header].hh-tablet:before {
        display: none;
    }
    [header].hh-tablet[page] {
        padding-top: 0;
    }
    [header].hh-tablet[panel] {
        padding-top: 20px;
    }
    [header].hh-tablet[section] {
        padding-top: 15px;
    }

}


/* phone only */
@media only screen and (max-width: 500px) {

    [page] {
        padding-bottom: 0;
        overflow-y: auto;
    }

    [panel] {
        padding: 15px;
        border-radius: 0;
    }

    [template] > .controls > .columns,
    [template] > .controls > .sizes {
        display: none;
    }

    [options] {
        bottom: 0;
        left: 0 !important;
        right: 0;
        height: 80% !important;
        margin: auto;
    }

    .row {
        padding-left: 0;
    }

    .row:not(.rigid) > [class*=col-],
    [class*=columns-]:not(.rigid) > * {
        min-width: 100%;
    }

    .hide-phone {
        display: none;
    }
    .show-phone {
        position: relative;
        visibility: visible;
    }

    [header].hh-phone:before {
        display: none;
    }
    [header].hh-phone[page] {
        padding-top: 0;
    }
    [header].hh-phone[panel],
    [header].hh-phone[section] {
        padding-top: 15px;
    }

    .pad-s-phone {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-phone {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pad-l-phone {
        padding-left: 15%;
        padding-right: 15%;
    }
    .p0-phone {
        padding: 0;
    }

}

